name: Test Suite
on: [push, pull_request]


jobs:
  tests:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    env:
      ENV_NAME: testing
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3.1.0
        with:
          auto-update-conda: true
          channels: conda-forge,defaults
          channel-priority: true
          python-version: ${{ matrix.python-version }}
          environment-file: ci/${{ env.ENV_NAME }}.yaml
          activate-environment: ${{ env.ENV_NAME }}

      - name: Conda Info
        run: |
          conda info
          python --version

      - name: Install Test Deps
        run: |
          pip install .[test]
          conda list

      - name: Install ska-ost-array
        run: |
          git clone https://gitlab.com/ska-telescope/ost/ska-ost-array-config.git
          cd ska-ost-array-config
          poetry install
          cd ..

      - name: Run Tests
        run: |
          python -m pytest --cov=py21cmsense --cov-config=.coveragerc --cov-report xml:./coverage.xml

      - uses: codecov/codecov-action@v5
        if: success()
        with:
          file: ./coverage.xml #optional
          token: ${{ secrets.CODECOV_TOKEN }} #required
